---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Tag from '../components/Tag.astro'
---

<Layout title="Développeur Web Frontend – Créateur d'interfaces modernes et performantes.">
	<main class="flex-1 flex max-w-[1440px] items-center pt-24 flex-col pb-10">
		<section class="flex w-full gap-20 justify-between py-10">
			<div class="flex flex-col gap-10 py-44 ">
				<h2 class="text-8xl max-w-[710px]">Développeur web</h2>
				<div class="max-w-[710px] w-full space-y-4">
					<p>Développeur frontend basé à Marseille, j’allie créativité et performance pour concevoir des interfaces web modernes et intuitives. Spécialiste des technologies web, je transforme vos idées en expériences numériques uniques. </p>
					<p>Mon objectif ? Apporter une expérience fluide et engageante, pensée pour répondre aux attentes des utilisateurs. Chaque projet est une collaboration où l’écoute, l’adaptation et la passion pour le détail permettent de transformer vos idées en succès numériques. </p>
				</div>
			</div>
			<img src="/landscape.webp" alt="Paysage montrant des montagnes enneigées" class=" rounded-xl">
		</section>
		<section class="flex gap-20 justify-between w-full py-48">
			<img src="/hero.webp" alt="Moi devant un paysage de montagne pendant l'automne" class="rounded-xl w-[740px]">
			<div class="w-[740px] space-y-10">
				<h3 id="presentation" class="text-3xl"> Présentation</h3>
				<div class="space-y-5">
					<p>Je m'appelle <strong>Ugo</strong>, j'ai <strong>25 ans</strong> et je suis originaire de <strong>Marseille</strong>. Depuis toujours, je suis fasciné par le monde de la <strong>tech</strong> et les <strong>innovations numériques</strong> qui transforment notre quotidien. Cette passion s'est concrétisée il y a trois ans lorsque j'ai écrit mes <strong>premières lignes de code</strong>, donnant vie à mon tout premier <strong>site web</strong>. Ce fut une véritable révélation : j'avais trouvé ma voie.</p>

					<p>Depuis ce moment, je n'ai cessé de me perfectionner, travaillant sur divers <strong>projets</strong> pour des clients aux besoins variés. Que ce soit pour des <strong>sites vitrines modernes</strong>, des <strong>applications web performantes</strong> ou des <strong>interfaces soignées</strong>, chaque collaboration m'a permis d'acquérir de <strong>nouvelles compétences</strong> et de renforcer ma<strong> maîtrise des technologies du web</strong>.</p>
					
					<p>Déterminé à faire évoluer ma carrière, j'ai décidé en début d'année 2024 de passer le <strong>Titre Professionnel Développeur Web et Web Mobile (DWWM)</strong>. Cette certification, <strong>reconnue et exigeante</strong>, vient valider les <strong>compétences</strong> que j'ai développées au fil des années et marque une nouvelle étape dans mon <strong>parcours professionnel</strong>.</p>
					
					<p>Aujourd'hui, je suis prêt à relever de <strong>nouveaux défis</strong>, en mettant mon <strong>savoir-faire</strong> et ma créativité au service de projets web innovants.</p>
				</div>
			</div>
		</section>
		<section class="flex gap-20 w-full py-38 flex-col">
			<h3 id="projets" class="text-3xl text-center w-full">Mes projets</h3>
			<Card techno='react' title="La piscine" description='Développeur Frontend basé à Marseille, j’allie créativité et performance pour concevoir des interfaces web modernes et intuitives. Spécialiste des technologies web, je transforme vos idées en expériences numériques uniques.' src="/piscine.webp" href='https://lapiscine.netlify.app/' alt='Mise en avant du projet la piscine'>
				<Tag techno="API"/>
			</Card>
		</section>
		<section>
			<h3 id="contact" class="text-3xl text-center w-full pt-36">Me contacter</h3>
			<iframe width="1440px" height="600" src="https://256b4670.sibforms.com/serve/MUIFAOQbofFgRCXFoaLUkopxzjlP3GpNCu7gD4ll9i9F7XWFrD-I3HB5KQQ5fVXYs3l9jyBbFHeGYQeIt3UZcwpONEh_iCbvoqOHQFlkQSQTu7ZxOPqfmZaFFKwjkhUQxSSp1KtrZfBjlsOJ1TB0kyuVfZsxIofRwnKZAfFwjgX-nA3b_t6sla0sxnBUcHboA7q3zGI2u4bguHBm" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
		</section>
	</main>
</Layout>
