---
---
<header class="flex justify-center items-center w-full max-w-[1440px] mt-10 ">
    <div class=" w-full flex justify-between">
        <div class="flex">
        <span class="bg-slate-500 min-w-6 min-h-6 block">""</span>
        <h1 class="text-3xl max-w-32">Ugo Thevenin</h1>
        </div>
        <nav class="flex items-center">
            <ul class="flex gap-16">
                <li>
                    <a href="#presentation">présentation</a>
                </li>
                <li>
                    <a href="#projets">projets</a>
                </li>
                <li>
                    <a href="#articles">articles</a>
                </li>
                <li>
                    <a href="#contact">contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>