---
interface Props{
    techno: string;
    color?: string;
}
const { techno, color } = Astro.props;
---

<div class=`rounded-full border border-slate-600 px-2 py-1 min-w-24 text-center border-dashed max-w-24 ${color}`>
    <p>{techno}</p>
</div>